commands:
  upgrade-aws-cli:
    command: |
      yum -y install python3-3.7.9-1.amzn2.0.2
      yum -y install python3-pip
      python3 -m pip install --user -Iv --upgrade pip==21.0.1
      python3 -m pip install --user awscli
  set-instance-credit-unlimited:
    command: >
      aws ec2 modify-instance-credit-specification --region eu-north-1 --instance-credit-specification '[{"InstanceId": "'"$(TOKEN=`curl -s -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"` && curl -s -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/instance-id)"'","CpuCredits": "unlimited"}]'
